/* ----------- GENERAL ----------- */

:root {
  --main-font: 'Poppins', sans-serif;
  --primary-color: #6070ff;                 /* For logo */
  --secondary-color: #172b4d;               /* For titles */
  --tertiary-color: #344563;                /* For simple-text */
  --softer-text-color: #7a869a;             /* For role and year */
  --primary-bg: #fff;                       /* For sections */
  --left-right-padding: 6.4vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- GENERIC CLASSES ----------- */

.container-v {
  display: flex;
  flex-direction: column;
}

.container-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.simple-button {
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.complex-button {
  font-family: var(--main-font);
  padding: 12px;
  width: fit-content;
  color: #6070ff;
  background-color: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  transition: 300ms;
  cursor: pointer;
}

.complex-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.complex-button:active {
  background-color: #2230d2;
}

.complex-button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.simple-text {
  color: var(--tertiary-color);
  font-size: 1rem;
}

.big-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--secondary-color);
}

.simple-input {
  color: var(--secondary-color);
  border-style: none;
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  font-size: 17px;
  font-family: var(--main-font);
}

.simple-input::placeholder {
  color: #b3bac5;
  font-family: var(--main-font);
}

.section-show {
  display: flex;
}

.section-hide {
  display: none;
}

/* ----------- BODY ----------- */

body {
  background-color: #f7f7f9;
  font-family: var(--main-font);
  width: 100vw;
}

/* ----------- APP-MENU ----------- */

.app-menu {
  background-color: hsla(234, 100%, 69%, 80%);
  backdrop-filter: blur(8px);
  align-items: center;
  position: fixed;
  padding: 12px;
  height: 100vh;
  width: 100vw;
}

.app-menu div {
  width: 40px;
  align-self: flex-end;
  margin-right: 12px;
}

.app-menu ul {
  width: 100%;
  list-style: none;
  padding: 16px;
  gap: 32px;
}

.app-menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.last-bar {
  position: absolute;
  bottom: 8px;
}

/* ----------- APP-BAR ----------- */

.app-bar {
  background-color: var(--primary-bg);
  height: 6.8vh;
  padding: 0 var(--left-right-padding);
  justify-content: space-between;
  align-items: center;
}

.app-bar .logo {
  font-weight: 700;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.app-bar nav {
  display: none;
}

.app-bar nav ul {
  list-style: none;
  gap: 8px;
}

.app-bar nav a {
  text-decoration: none;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--tertiary-color);
}

/* ----------- APP-HEADLINE ----------- */

.app-headline {
  background-color: var(--primary-bg);
  border-bottom-left-radius: 100px;
  min-height: 87.2vh;
  padding: 15.9vh var(--left-right-padding);
  gap: 12px;
  background-image: url(images/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

span.social-media {
  color: #7f8cff;
  font-weight: 500;
}

ul.media-links {
  width: 170px;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

/* ----------- APP-DETAILS ----------- */

.app-details {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  position: fixed;
  align-items: center;
  top: 0;
  padding: 50px 16px;
  height: 100vh;
  width: 100vw;
}

.app-details .desc-aux {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app-details .title-aux {
  justify-content: space-between;
}

.app-details .details-img {
  max-height: 50vh;
}

.app-details .details-tech {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebecf0;
}

.app-details .complex-button {
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.app-details .details-liveLink {
  width: 46%;
  text-decoration: none;
}

.app-details .details-sourceLink {
  width: 52%;
  text-decoration: none;
}

.app-details .links-aux {
  margin-top: 5px;
  justify-content: space-between;
}

/* ----------- APP-WORKS ----------- */

.app-works {
  padding: 15.9vh var(--left-right-padding);
  justify-content: center;
}

.works-grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 12.2vh;
}

.app-works .project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
}

.app-works .card-details {
  gap: 12px;
}

.app-works .project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--secondary-color);
}

.app-works .client {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--tertiary-color);
}

.app-works .dot-figure {
  width: 8px;
  height: 8px;
  margin-left: 12px;
  margin-right: 12px;
}

.app-works .role,
.app-works .year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--softer-text-color);
}

.app-works .project-card ul {
  list-style: none;
  gap: 8px;
}

.app-works .project-card li {
  color: var(--primary-color);
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

section.app-works .project-card button {
  margin: 12px 0;
}

/* ----------- APP-ABOUT-ME ----------- */

.app-about-me {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
  border-top-right-radius: 100px;
  padding: 15.9vh var(--left-right-padding);
  gap: 24px;
}

.app-about-me div.about-myself {
  gap: 12px;
}

.app-about-me .categories-list {
  list-style: none;
}

.app-about-me .categories-list > li {
  padding: 0 12px;
  border-bottom: 1px solid #dfe1e6;
}

.app-about-me .categories-list > li > div {
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
}

.app-about-me .categories-list h3 {
  font-weight: 500;
  font-size: 20px;
}

.app-about-me li.categorie-open {
  border-bottom: none;
}

.app-about-me li.categorie-open button {
  rotate: 90deg;
}

.app-about-me .open-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

.app-about-me .open-list li {
  display: flex;
  padding: 9px 12px;
  background-color: #f7f7f9;
  align-items: center;
  border-radius: 8px;
  gap: 16px;
}

.app-about-me .open-list span {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

/* ----------- APP-CONTACT ----------- */

.footer-background {
  background-color: var(--primary-bg);
}

.app-contact {
  background-color: var(--primary-color);
  border-top-left-radius: 100px;
  padding: 103px var(--left-right-padding) 8px var(--left-right-padding);
  justify-content: center;
  gap: 12px;
  background-image: url(images/background2/contact-form-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top 21px right 0;
}

.app-contact h2 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.app-contact p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.app-contact form {
  margin-top: 30px;
  gap: 20px;
}

.app-contact form label {
  display: none;
}

.app-contact .contact-button {
  padding: 12px 16px;
}

/* ----------- ----------- DESKTOP-VERSION ----------- ----------- */

@media (768px <= width) {
  /* ----------- DESK-APP-MENU ----------- */
  .app-menu {
    display: none;
  }

  /* ----------- DESK-APP-BAR ----------- */

  .app-bar {
    padding: 26px 10vw;
  }

  .app-bar button {
    display: none;
  }

  .app-bar nav {
    display: inline-block;
  }

  /* ----------- DESK-APP-HEADLINE ----------- */

  .app-headline {
    background-image: url(images/desktop-Header-bg.svg);
    background-repeat: no-repeat;
    background-size: 97%;
    background-position: top 30px right 10px;
    padding: 32vh 18vw 28vh 18vw;
  }

  .app-headline p {
    font-size: 20px;
  }

  /* ----------- DESK-APP-DETAILS ----------- */

  .app-details .project-card {
    min-height: 90vh;
    overflow: scroll;
    padding: 24px;
  }

  .app-details .desc-aux {
    flex-direction: row;
    gap: 24px;
  }

  .app-details .details-img {
    max-height: fit-content;
    width: 100%;
  }

  .app-details .details-desc {
    width: 50%;
  }

  /* ----------- DESK-APP-WORKS ----------- */

  section.app-works {
    justify-content: stretch;
    padding: 15.7vh 9.8vw;
    row-gap: 15.7vh;
  }

  section.app-works .project-card {
    flex-direction: row;
    padding: 24px;
    gap: 22px;
  }

  .app-works .project-card .snapshoot {
    width: 50%;
  }

  .app-works .card-details {
    width: 50%;
    gap: 24px;
    padding: 24px;
  }

  section.app-works .project-card:nth-child(2n) .snapshoot {
    order: 1;
  }

  section.app-works .project-card:hover {
    transition: 500ms;
    border: 2px solid #a7aeff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  }

  .app-works .project-title br {
    display: none;
  }

  /* ----------- DESK-APP-ABOUT-ME ----------- */

  .app-about-me {
    flex-direction: row;
    padding: 15.7vh 9.8vw;
  }

  .app-about-me div.about-myself {
    width: 40%;
  }

  .app-about-me .categories-list {
    width: 60%;
  }

  .app-about-me .categories-list > li {
    padding: 0 24px;
  }

  .app-about-me .open-list {
    flex-direction: row;
  }

  .app-about-me .open-list li {
    flex-direction: column;
    flex-basis: 20%;
    padding: 12px 12px 20px 12px;
    align-items: flex-start;
  }

  /* ----------- DESK-APP-CONTACT ----------- */

  .app-contact {
    gap: 12px;
    padding: 15.7vh 22.2vw 14vh 22.2vw;
    align-items: center;
    background-image: url(images/desktop-contact-form-background.svg);
    background-repeat: no-repeat;
    background-size: 87%;
    background-position: center;
  }

  .app-contact p {
    width: 70%;
  }

  .app-contact form {
    width: 100%;
    gap: 27px;
    align-items: center;
  }

  .simple-input {
    width: 60%;
    border-radius: 0;
  }

  .app-contact img {
    display: none;
  }

  @media (width <= 1212px) {
    section.app-works {
      padding: 10vh 7vw;
      row-gap: 10vh;
    }

    section.app-works .project-card {
      padding: 18px;
      gap: 0;
    }

    section.app-works .project-card .snapshoot {
      width: 55%;
    }

    section.app-works .card-details {
      gap: 12px;
      padding: 24px;
    }
  }

  @media (width <= 986px) {
    section.app-works {
      padding: 8vh 5vw;
      row-gap: 9vh;
    }

    section.app-works .project-card {
      padding: 12px;
    }

    section.app-works .card-details {
      padding: 12px 24px;
    }
  }
}
